@import "../../../styles/mixins";
.home-header {
   width: 100%;
   @include d-flex(row, space-between, center);

   .home-header__search {
      position: relative;
      input {
         @include boxShaddowLight();
         @include transition();
         color: var(--text-color);
         background-color: var(--element-color);
         width: 360px;
         height: 30px;
         padding: 0.5rem 3rem;
         border: none;
         outline: none;
         border-radius: 6px;

         &::placeholder {
            color: var(--input-color);
         }
      }

      svg {
         position: absolute;
         left: 20px;
         top: 9px;
         font-size: 25px;
         color: var(--input-color);
      }
   }

   .home-header__sort {
      button {
         height: 35px;
         border-radius: 8px;
         border: none;
         outline: none;
         color: var(--text-color);
         background-color: var(--element-color);
         @include transition();
         @include boxShaddowLight();
         cursor: pointer;
         margin: 0 0.5rem;
      }
   }
}

@media (max-width: 1068px) {
   .home-header {
      .home-header__search {
         input {
            width: 250px;
            height: 30px;
            padding: 0.5rem 3rem;
         }
      }
   }
}

@media (max-width: 916px) {
   .home-header {
      .home-header__sort {
         @include d-flex(column, flex-start, center);
         gap: 0.3rem;
      }
   }
}

@media (max-width: 800px) {
   .home-header {
      @include d-flex(column, flex-start, flex-start);
      gap: 1rem;

      .home-header__search {
         width: 100%;
         input {
            width: 80%;
            max-width: 300px;
            padding: 0.5rem 2rem;
         }

         svg {
            left: 8px;
         }
      }

      .home-header__sort {
         @include d-flex(row, flex-start, center);
         gap: 1rem;
         button {
            margin: 0;
         }
      }
   }
}
