@mixin transition {
   transition: all 0.3s ease-in-out;
}

@mixin boxShaddowLight {
   box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

@mixin d-flex($direction, $justify, $align) {
   display: flex;
   flex-direction: $direction;
   justify-content: $justify;
   align-items: $align;
}
