@import "./mixins";

:root {
   --text-color: hsl(200, 15%, 8%);
   --bg-color: hsl(0, 0%, 98%);
   --element-color: hsl(0, 0%, 100%);
}

.app {
   min-height: 100vh;
   color: var(--text-color);
   background-color: var(--bg-color);
   @include transition();

   &.dark {
      --text-color: hsl(0, 0%, 100%);
      --bg-color: hsl(207, 26%, 17%);
      --element-color: hsl(209, 23%, 22%);
   }
}

// - Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
