@import "../../../styles/mixins";

.country-list {
   @include d-flex(row, space-between, flex-start);
   flex-wrap: wrap;
   gap: 2rem;
   margin-top: 3rem;
}

@media (max-width: 800px) {
   .country-list {
      @include d-flex(column, flex-start, center);
   }
}
