@import "../../styles/mixins";

.navbar {
   @include d-flex(row, space-between, center);
   @include boxShaddowLight();
   @include transition();
   padding: 2rem 4rem;
   color: var(--text-color);
   background-color: var(--element-color);

   .navbar__brand {
      font-weight: bold;
      font-size: 24px;
      cursor: pointer;
   }
   .navbar__toggle-dark-btn {
      @include d-flex(row, center, center);
      gap: 0.6rem;

      svg {
         cursor: pointer;
      }

      span {
         font-weight: bold;
         font-size: 18px;
         user-select: none;
      }
   }
}

@media (max-width: 1024px) {
   .navbar {
      padding: 2rem 3rem;

      .navbar__brand {
         font-size: 22px;
      }
      .navbar__toggle-dark-btn {
         span {
            font-weight: bold;
            font-size: 18px;
         }
      }
   }
}

@media (max-width: 768px) {
   .navbar {
      padding: 2rem 2rem;

      .navbar__brand {
         font-size: 20px;
      }
      .navbar__toggle-dark-btn {
         gap: 0.4rem;
         span {
            font-size: 16px;
         }
      }
   }
}

@media (max-width: 576px) {
   .navbar {
      padding: 2rem 1rem;

      .navbar__brand {
         font-size: 18px;
      }
      .navbar__toggle-dark-btn {
         span {
            font-size: 14px;
         }
      }
   }
}
